/**
 *  rating.css
 *  Composant du collapse
 *
 *  @author : Manuel JANSEN
 *  @version : 1.0
 *  @ date : 2023-03
 *
 **/


/* conteneur de nos étoiles */
.star-wrapper {
    display: flex;
    align-items: center;
    margin-right: 40px;
  padding-top: 20px;
 }
 
 /* style de notre étoile */
 .star {
   width: 24px;
   height: 24px;
   margin-right: 0.5rem;
}

 /****************************************************************************************** Media queries / Responsive ***************************************************************************/
 
 @media (max-width: 767px) {
 .star-wrapper {
    margin-left: 10vw;
    padding-right: 0px;
    margin-right: 0;
}
 }

 @media (max-width: 375px) {
   .star-wrapper {
      margin-left: 12vw;
      padding-right: 0px;
  }

  .star {
   width: 15px;
   height: 15px;
   margin-right: 0.5rem;
  
}
}




