 /**
 *  banner.css
 *  styles des éléments de Banner
 *
 *  @author : Manuel JANSEN
 *  @version : 1.0
 *  @ date : 2023-03
 *
 **/
 
 
 /*  Définition d'un composant de style pour le conteneur de la bannière */
.banner-container {
    height: 223px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    margin: 35px;
  }

  /* Définition d'un composant de style pour le titre de la bannière */
  .banner-container h1 {
    font-size: 48px;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }